<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/icon/Jam.png" alt="jam-logo">
      <ion-card-subtitle>About Me</ion-card-subtitle>
      <ion-card-title>Jam</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="User Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="Password"></ion-input>
      </ion-item>    
      <ion-button (click)="logIn()">login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
