<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="../../assets/shapes.svg" alt="jam-logo">
      <ion-card-subtitle>About Me</ion-card-subtitle>
      <ion-card-title>Jam</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Jam is an awesome blog for software development ideas and working models for brin storming
      with cool spects 
    </ion-card-content>
  </ion-card>
</ion-content>
